{% extends "base_student.html" %}
{% from 'bootstrap4/form.html' import render_form, render_field %}



{% block content %}
<meta id="chat-data" data-name="{{data}}">
<meta id="chat-context" data-name="{{context}}">
<meta id="chat-ak" data-name="{{ ak }}">

    <div class="p-3 mb-2 bg-secondary text-white">
        <ul id="messagesList">
            <!-- Hier werden die Nachrichten eingefügt -->
        </ul>
    </div>
    <div class="container" id="dat">

        <div class="container" id="dat">
            <form id="chatForm">
                {{ render_form(form) }}
            </form>
        </div>

    </div>
{% endblock %}

    {% block scripts %}

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script>

        var a = document.getElementById('chat-ak').getAttribute('data-name');
        var c = document.getElementById('chat-context').getAttribute('data-name');
        var msg = [
            { ak: a }, {context: c }, {last: "-" },
            { chat:[
                    {user:"Hallo!"},
                    {bot:"Hallo auch."} ]}]

        function scrollToBottom() {
            var messagesList = document.getElementById("messagesList");
            messagesList.scrollTop = messagesList.scrollHeight;
        }

        function typeText(element, text, delay = 20) {
        let index = 0;
        function addCharacter() {
            if (index < text.length) {
                element.innerHTML += text[index++];
                scrollToBottom(); // Scrollt immer nach unten
                setTimeout(addCharacter, delay); // Nächstes Zeichen mit Verzögerung
                MathJax.typeset()
            } else {
                sendButtonChat.disabled = false;
                MathJax.typeset(); // Aktualisiert MathJax nach vollständiger Ausgabe
            }
        }
        addCharacter();
    }

        function sendDataToFlaskChat(dataToSend) {
            fetch('/send_message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dataToSend)
            })
            .then(response => response.json())
            .then(ret => {
                var node = document.createElement("LI");

                // Ersetze Zeilenumbrüche (\n) durch <br> und Tabs/Leerzeichen durch &nbsp;
                var formattedText = ret.last
                .replace(/\n/g, "<br>")         // Zeilenumbrüche durch <br>
                .replace(/\t/g, "&nbsp;&nbsp;&nbsp;&nbsp;") // Tabs durch 4 Leerzeichen
                .replace(/ {2}/g, "&nbsp;&nbsp;"); // Doppelte Leerzeichen durch &nbsp;

                // Setze den Text als HTML-Inhalt des Listenelements (dadurch werden <br>-Tags als HTML interpretiert)
                //node.innerHTML = "Bot: " + formattedText;

                typeText(node, ret.last);

                // Füge das neue Listenelement zur Nachrichtenliste hinzu
                document.getElementById("messagesList").appendChild(node);

                // Scrollt das Nachrichtenfenster nach unten
                scrollToBottom();

                // Füge die neue Nachricht zum Nachrichtenarray hinzu
                var neueNachricht = { bot: ret.last };
                msg[3].chat.push(neueNachricht);

                // Aktualisiere MathJax, um sicherzustellen, dass LaTeX-Formeln richtig gerendert werden
                MathJax.typeset();
            })
            .catch((error) => {
                console.error('Fehler:', error);
            });
        }
        sendDataToFlaskChat({ message: msg });

        document.getElementById('chatForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Verhindert das Neuladen der Seite

        var sendButtonChat = document.getElementById('sendButtonChat');
        sendButtonChat.disabled = true; // Deaktiviert den Button

        var formData = new FormData(this);
        var neueNachricht = { user: formData.get('msg') };
        msg[3].chat.push(neueNachricht);

        var node = document.createElement("LI");
        var textnode = document.createTextNode("User: " + formData.get('msg')); // Verarbeitet die Statusmeldung
        node.appendChild(textnode);
        document.getElementById("messagesList").appendChild(node);
        scrollToBottom();

        sendDataToFlaskChat({ message: msg });
        this.msg.value = ''; // Setzt das 'msg' Feld zurück
        // Button nach 3 Sekunden wieder aktivieren
        //setTimeout(function() {
        //    sendButtonChat.disabled = false;
        //}, 3000); // 3000 Millisekunden
    });


    </script>
    {% endblock %}