{% extends "base_student.html" %}
{% from 'bootstrap4/form.html' import render_form, render_field %}



{% block content %}
<meta id="chat-data" data-name="{{data}}">
<meta id="chat-context" data-name="{{context}}">
<meta id="chat-token" data-name="{{token}}">

    <div class="p-3 mb-2 bg-secondary text-white">
        <ul id="messagesList">
            <!-- Hier werden die Nachrichten eingefügt -->
        </ul>
    </div>
    <div class="container" id="dat">

        <div class="container" id="dat">
            <form id="chatForm">
                {{ render_form(form) }}
            </form>
        </div>

    </div>
{% endblock %}

    {% block scripts %}
    <script>
        var node = document.createElement("LI");
        var textnode = document.createTextNode("Hinweis: Bitte geben Sie eine detaillierte Bildbeschreibung ein. Sie haben nur einen Versuch!");
        node.appendChild(textnode);
        document.getElementById("messagesList").appendChild(node);

        var t = document.getElementById('chat-token').getAttribute('data-name');
        var c = document.getElementById('chat-context').getAttribute('data-name');
        var msg = [
            { token: t}, {context: c }, {last: "-" },
            { chat:[ ]}, {link: "-" }]

        function scrollToBottom() {
            var messagesList = document.getElementById("messagesList");
            messagesList.scrollTop = messagesList.scrollHeight;
        }
        function sendDataToFlask(dataToSend) {
            var node = document.createElement("LI");
            var textnode = document.createTextNode("... bitte warten ...");
            node.appendChild(textnode);
            document.getElementById("messagesList").appendChild(node);
            fetch('/send_messagePic', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dataToSend)
            })
            .then(response => response.json())
            .then(ret => {
                console.log('Empfangene Antwort:', ret);
                var node = document.createElement("LI");
                var lk = document.createElement("a")
                lk.title = ret.last
                lk.href = ret.last
                var textnode = document.createTextNode(ret.last); // Verarbeitet die Statusmeldung
                lk.appendChild(textnode);
                node.appendChild(lk);
                document.getElementById("messagesList").appendChild(node);
                scrollToBottom();
                var neueNachricht = { bot: ret.last };
                msg[3].chat.push(neueNachricht);
                window.location.href = ret.last
            })
            .catch((error) => {
                console.error('Fehler:', error);
            });
        }

        document.getElementById('chatForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Verhindert das Neuladen der Seite

            var sendButton = document.getElementById('sendButton');
            sendButton.disabled = true; // Deaktiviert den Button

            var formData = new FormData(this);
            var neueNachricht = { user: formData.get('msg') };
            msg[3].chat.push(neueNachricht);
            msg[4].link = document.getElementById('chat-data').getAttribute('data-name');

            var node = document.createElement("LI");
            var textnode = document.createTextNode("User: " + formData.get('msg')); // Verarbeitet die Statusmeldung
            node.appendChild(textnode);
            document.getElementById("messagesList").appendChild(node);
            scrollToBottom();

            sendDataToFlask({ message: msg });
            this.msg.value = ''; // Setzt das 'msg' Feld zurück

    });


    </script>
    {% endblock %}