{% extends "base.html" %}
{% from 'bootstrap4/form.html' import render_form, render_field %}

{% block content %}
    <div class="container">
        <p>Bitte geben Sie den Token ein, um den damit verbundenen Link zu löschen.</p>
        {{ render_form(form) }}
        {% if data != None %}
            <br>
            <p class="font-weight-light">{{ data }}</p>
        {% endif %}

        {% if links != None %}
            {% for link in links %}
                <a href="{{ link }}">{{ link }}</a><br>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
