{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h4>Hier können Sie einen moderierten GPT-Link für Ihre Schülerinnen und Schüler generieren:</h4>
        <a class="btn btn-primary" href="generator.html" role="button">Generiere Link (Chat)</a><br><br>

        <h4>Hier können Sie Links generieren, damit Schülerinnen und Schüler jeweils ein Bild erstellen können: </h4>
        <a class="btn btn-primary" href="generatorpic.html" role="button">Generiere Link (Bild)</a><br><br>

        <h4>Sie haben einen Link generiert und wollen diesen wieder löschen? Dann geht es hier weiter: </h4>
        <a class="btn btn-primary" href="delete.html" role="button">Löschen</a><br><br>


    </div>
    <div class="jumbotron">
        <h2>Impressum</h2>
        <p><strong>Schulname:</strong> Staatliches Berufliches Schulzentrum Herzogenaurach – Höchstadt a. d. Aisch</p>
        <p><strong>Adresse:</strong> Friedrich-Weiler-Platz 2, 91074 Herzogenaurach</p>
        <p><strong>Telefon:</strong> 09132/8023</p>
        <p><strong>E-Mail:</strong> <a href="mailto:verwaltung1@sbs-herzogenaurach.de">verwaltung1@sbs-herzogenaurach.de</a></p>
        <p><strong>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:</strong> Metin Karatas</p>
    </div>

{% endblock %}